__pycache__/
*.pyc

dataset/
checkpoints/
outputs/
instance/

static/uploads/
static/results/

project_model/*.pth
project_model/*.h5
project_model/*.keras
project_model/checkpoints/
project_model/__pycache__/

test_xray.png